*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake #
cmake-build-debug/
CMakeLists.txt
face/oliver.jpg
face/oliver.jpg
face/predictions.jpg
face/predictions_resized.jpg
output.avi
test_data/output.avi
*.weights
test_data/project_video.mp4
uselib
Makefile
face_compare/train/*.jpg
face_compare/test/*.jpg
